[Unit]
Description=rust blog server
After=network.target

[Service]
ExecStart=/usr/local/bin/blog-server --port 3000 --db-path /var/blog-server/db.sqlite3
Type=exec
Restart=on-failure

[Install]
WantedBy=default.target
